@font-face {
  font-family: Aller;
  src: url("../fonts/aller/aller_bd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/aller/aller_bd.eot?#iefix") format("embedded-opentype"), url("../fonts/aller/aller_bd.woff") format("woff"), url("../fonts/aller/aller_bd.ttf") format("truetype"), url("../fonts/aller/aller_bd.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal; }

.header-gradient, .header {
  background: #4a90e2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4a90e2, #d56fa1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4a90e2, #d56fa1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4a90e2, #d56fa1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4a90e2, #d56fa1);
  /* Standard syntax */ }

.header {
  border-radius: 0 0 50% 50% / 40px;
  padding: 80px 0;
  margin-bottom: 40px; }
  .header .logo {
    margin-bottom: 20px; }
  .header .title {
    margin-top: 0;
    font-family: Lato;
    font-weight: lighter;
    font-style: italic;
    color: white; }
  .header .subtitle {
    font-family: Lato;
    font-size: 20px;
    color: white;
    margin-bottom: 30px; }
  .header .store-button {
    max-width: 45%;
    height: auto; }

@media (max-width: 767px) {
  .header {
    border-radius: 0; } }

.footer-gradient, .footer {
  background: #4a90e2;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4a90e2, #6e7fd8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4a90e2, #6e7fd8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4a90e2, #6e7fd8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4a90e2, #6e7fd8);
  /* Standard syntax */ }

.footer {
  border-radius: 50% 50% 0 0 / 40px;
  padding: 40px 10px; }
  .footer .footer-logo-container {
    margin-bottom: 30px; }
  .footer .title {
    color: white;
    font-family: Lato;
    font-style: italic;
    font-weight: lighter; }
  .footer .link-container {
    margin-bottom: 20px; }
    .footer .link-container .links {
      color: white;
      font-family: Lato;
      font-size: 20px; }
      .footer .link-container .links.transparent {
        opacity: 0.6; }
  .footer .copyright {
    margin-top: 20px;
    color: white;
    font-family: Lato;
    font-size: 20px;
    opacity: 0.6; }

@media (max-width: 767px) {
  .footer {
    border-radius: 0; } }

.how-to-section {
  margin: 10px 0; }
  .how-to-section.grey {
    background-color: #f8f8fb; }

.title {
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  color: #979797;
  margin-bottom: 30px; }

.section-header {
  font-family: Aller;
  font-weight: bold;
  color: #6e7fd8; }

.subtext {
  font-family: Lato;
  font-size: 18px;
  color: #919191; }

.how-to-image {
  max-width: 100%; }
