@import "variables";
@import "fonts";
@import "header";
@import "footer";
@import "t&c";
@import "about";

.how-to-section {
  margin: 10px 0;
  &.grey {
    background-color: $pale-grey;
  }
}

.section-text {
  margin-top: 35%;
}

.title {
  font-family: Lato;
  font-weight: 100;
  font-style: italic;
  color: $warm-grey;
  margin-bottom: 30px;
}

.section-header {
  font-family: Aller;
  font-weight: bold;
  color: $dark-periwinkle;
}

.subtext {
  font-family: Lato;
  font-size: 18px;
  color: $common-grey;
}

.how-to-image {
  max-width: 100%;
}

@media (max-width: $screen-xs-max) {
  .section-text {
    margin-top: 0;
  }
}
