$dark-periwinkle: #6e7fd8;
$dark-sky-blue: #4a90e2;
$pale-grey: #f8f8fb;
$pale-magenta: #d56fa1;
$warm-grey: #979797;
$common-grey: #919191;

$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min - 1;
